@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&family=Josefin+Sans:wght@400;700&display=swap');

/* 
font-family: 'Inter', sans-serif;
font-family: 'Josefin Sans', sans-serif; 
*/

/* Utilities */


.in-font{
    font-family: 'Inter', sans-serif;
}
.jo-font{
    font-family: 'Josefin Sans', sans-serif; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body {
    background:#1B1924 ;
}
@media (min-width:668px) {
.desk {
    margin: 50px auto 30px auto;
    display: flex;
    flex-direction: flex;
    padding: 0 20px;
    width: 60%;
    
    gap: 2rem;
}
.write-endorsment{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
img{
   width: 90px; 
   margin: 0 auto;
}
h1{
    font-size: 25px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    margin: 20px o;
}
#endorsment-text{
    background: #444059;
    border-radius: 5px;
    padding: 14px 18px;
    color: #8F8F8F;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}
button{
    background: #28A9F1;
    color:#04131C;
    border: none;
    font-size: 22px;
    font-weight: 700;
    padding: 17px 40px;
    margin: 14px 0 0 0;
    border-radius: 8px;
}

.view-endorsment{
    display: flex;
    flex-direction: column;
    margin:100px 0 0 0 ;
}   
h3{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
}
#endorsment-details{
    display: flex;
    flex-direction: column;
    
    padding: 14px 16px;

}
#endorsment{
    font-size: 14px;
    margin: 3px 0;
    font-weight: 400;
    background: #FFFFFF;
    padding: 10px 10px;
}
.from-section{
    display: flex;
    justify-content: space-between;
}
h5{
    font-family: 'Inter', sans-serif;
    font-weight: 700;

}
#like{
    font-weight: 700;
   margin-left: 4px;
}

}

@media (max-width:667px) {
    .container {
        margin: 50px auto 30px auto;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }
    .write-endorsment{
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }
    img{
       width: 90px; 
       margin: 0 auto;
    }
    h1{
        font-size: 25px;
        color: #ffffff;
        font-weight: 700;
        text-align: center;
        margin: 20px o;
    }
    #endorsment-text{
        background: #444059;
        border-radius: 5px;
        padding: 14px 18px;
        color: #8F8F8F;
        font-family: 'Inter', sans-serif;
        font-size: 15px;
    }
    button{
        background: #28A9F1;
        color:#04131C;
        border: none;
        font-size: 22px;
        font-weight: 700;
        padding: 17px 40px;
        margin: 14px 0 0 0;
        border-radius: 8px;
    }

    .view-endorsment{
        display: flex;
        flex-direction: column;
        margin:25px 0 0 0 ;
    }   
    h3{
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 20px;
    }
    #endorsment-details{
        display: flex;
        flex-direction: column;
        
        padding: 14px 16px;

    }
    #endorsment{
        font-size: 14px;
        margin: 3px 0;
        font-weight: 400;
        background: #FFFFFF;
        padding: 10px 10px;
    }
    .from-section{
        display: flex;
        justify-content: space-between;
    }
    h5{
        font-family: 'Inter', sans-serif;
        font-weight: 700;

    }
    #like{
        font-weight: 700;
       margin-left: 4px;
    }
    
}